.logo {
   text-align:center ;

}
.contenitore1 {
    
    text-align: center;
color:	#228B22;
background-color:	#FFFACD;
}

.top 
{font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.contenitore2
{font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9em;
}
.sally
{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.9em; 
    color:#D3D3D3 ;
}

.feat
{
    color:	#D2691E;
    border-left-color: yellow;
}

li
 { font-family: Times New Roman, Times, serif; 
    font-size: 1em;

}